.contact {
  padding: 0 10% 0 10%;
}

.contactHeader {
  text-align: center;
  font-size: 50px;
  margin-bottom: 2rem;
}

.contactParagraph {
  font-size: 19px;
  padding: 0 0 2.5rem 0;
  text-align: center;
}
