.aboutWrapper {
  display: flex;
  gap: 2rem;
  margin: 0 4%;
}

.aboutHeader {
  text-align: center;
  line-height: 0px;
  font-size: 50px;
  margin-bottom: 4rem;
}

.aboutSection {
  display: flex;
  margin: 0px 4%;
  gap: 2rem;
}

.textAside {
  width: 50%;
  height: auto;
}

.textAside > h1 {
  line-height: 1.2;
  font-size: 50px;
  margin-bottom: 2rem;
  padding-top: 0.9rem;
}

.textAside > p,
.textAside > ul > li {
  font-size: 19px;
  /* line-height: 1.5; */
  margin-bottom: 1rem;
}

.textAside > p.listHeading {
  margin-bottom: 0;
}

.textAside > p > a {
  text-decoration: none;
  color: #088f8f;
}

.textAside > ul {
  margin: 0;
  padding-left: 2.5rem;
}

.textAside > ul > li {
  margin: 0;
}

.figureSection {
  height: auto;
  width: 50%;
  display: flex;
  align-items: center;
}

.figureSection figure {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.figureSection > img {
  display: block;
  height: 80%;
  margin-left: auto;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

@media (width < 1000px) {
  .aboutWrapper {
    flex-direction: column;
  }
  .textAside {
    width: 100%;
  }
  .figureSection {
    width: 100%;
  }
}
