.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  margin: 1rem 1rem 0 0;
  transition: margin 0.3s linear;
}

.hamburgerOpen {
  margin-right: 1.5rem;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.burger1 {
  transform: rotate(45deg);
}

.burger2 {
  opacity: 0;
}

.burger3 {
  transform: rotate(-45deg);
}
