.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding: 1rem 2rem 0.5rem 2rem;
  min-height: 77px;
}

.footer p {
  font-size: 16px;
  padding-right: 2rem;
  align-self: center;
}

.footerLinks {
  align-self: center;
}

.footerLinks img {
  height: 20px;
  width: fit-content;
}

.muckrackLogo,
.xLogo {
  margin-left: 2.5rem;
}

.xLogo img {
  height: 17px;
  margin-bottom: 2px;
}

.muckrackLogo {
  color: black;
}

@media (width < 377px) {
  .footer {
    align-items: center;
    flex-direction: column;
  }

  .footer p {
    order: 2;
    padding-right: 2px;
  }

  .footerLinks {
    padding-top: 1rem;
  }
}
